/* Asterik wildcard selector to override default styles added by the browser*/

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Harry Potter Font*/
@font-face {
    font-family: 'HarryPotter';
    src: url('../fonts/HarryPotter-ov4z.ttf') format('truetype');
}
/* General Styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "MedievalSharp", cursive;
    font-size:1.3rem;
    background: url('../images/hogwartsBg.webp') no-repeat center/cover;
}

/* header*/
header{
    text-align: center;
    color:#fff;
}

h1 {
    line-height: 80px;
    letter-spacing: 2px;
    font-size: 3rem;
    font-family: 'HarryPotter', sans-serif;
    margin-top: 50px;
}

h2 {
    font-size: 2rem;
}

/* main content*/
main {
    flex: 1 0 auto;
    margin-top: 100px;
}

/* Style the buttons that are used to open and close the accordion panel */

#container {
    width: 700px;
    margin: 0 auto;
}

.accordion {
    background-color: #234372;
    color:#fff;
    cursor: pointer;
    padding: 1em;
    transition: 0.4s;
    width: 100%;
    text-align: start;
    margin-bottom: 1.2em;
    font-size: 1.6rem;
    font-family: inherit;
}

.panel {
    padding: 1.2em;
    display:none;
}

/* footer */
footer {
    background: url('../images/backgroundPoster.webp') no-repeat center/cover;
    color:#fff;
    line-height: 3em;
    text-align: center;
}